.container {
  display: flex;
  flex-direction: column;
  padding: 5rem 7rem;
}

.create {
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 550;
}

.delete {
  color: red;
  cursor: pointer;
}

.top-news {
  text-align: center;
  padding-top: 3rem;
}

.table {
  width: 40rem;
}

@media (max-width: 371px) {
  .news-table {
    overflow-x: scroll;
    max-width: 100%;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 5rem 1rem;
  }
}
