.item-1 {
  background-color: #b6c4b6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.dash-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.dash-img img {
  width: 50%;
}

.item-text {
  font-size: 2rem;
}

.item-text p:first-child {
  font-weight: 550;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.item-text p:last-child {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 769px) {
  .item-text p:first-child {
    font-size: 1.4rem;
  }

  .item-text p:last-child {
    font-size: 1.3rem;
  }
}
