.container {
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}

.container h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 3rem 4rem;
  }
}

@media (max-width: 400px) {
  .container h2 {
    font-size: 1.5rem;
  }
}
