.container {
  margin-bottom: 2rem;
}

.admin {
  /* height: 90vh; */
  padding: 3rem 6rem;
}

.heading {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (max-width: 501px) {
  .tost-container {
    width: 50rem;
  }

  .admin {
    padding: 3rem 3rem;
    margin-bottom: 3rem;
  }
}
