.admin {
  height: 90dvh;
  padding: 3rem 6rem;
}

.heading {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

@media (max-width: 501px) {
  .tost-container {
    width: 70%;
  }
}
