.container {
  height: 90dvh;
}

.login-flex {
  overflow: hidden;
  display: flex;
}

.login-img {
  width: 90%;
  height: 90dvh;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*scale image while maintaining the aspect ratio*/
  object-position: center;
  clip-path: polygon(0% 0%, 83% 0, 92% 51%, 100% 100%, 0% 100%);
}

.login-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.heading {
  font-size: 1.5rem;
  font-weight: 550;
  margin-bottom: 2rem;
  text-align: center;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
  position: relative;
}

.fields {
  border: 2px solid black;
  padding: 1rem 1.5rem;
}

.login-btn {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: none;
  font-weight: 550;
  color: white;
  cursor: pointer;
}

.fa-icon {
  position: absolute;
  top: 51%;
  right: 2%;
  transform: translate(-50%, -50%);
}
