.container {
  padding: 5rem 5rem 10rem 5rem;
}

.secondary-heading {
  color: var(--secondary-heading);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 3rem;
}

.sch-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  /* margin: 0 auto; */
  position: relative;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  align-content: center;
  justify-content: center;
}

.fields {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: flex-end;
}

.fields-flex {
  display: flex;
  flex-direction: column;
  width: 41rem; /* Set the desired width for the form container */
}

.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; /* Set the desired margin between rows */
}

.formRow label {
  flex: 1.2; /* Make the label take up available space */
  margin-right: 2rem; /* Set the desired margin between label and input */
  font-size: 1.3rem;
  font-weight: 550;
  color: #61677a;
}

.input {
  flex: 2;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--light-color);
}

.payment {
  display: inline;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-left: 1.5rem;
}
.create-sch-entry {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--primary-color);
  font-weight: 550;
  letter-spacing: 1px;
  position: absolute;
  right: 5rem;
  bottom: -5rem;
  cursor: pointer;
}

@media (max-width: 425px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .formRow {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5rem; /* Set the desired margin between rows */
  }
  .formRow label {
    flex: 1; /* Make the label take up available space */
    font-size: 1.2rem;
    font-weight: 550;
  }

  .input {
    flex: 2;
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .fields-flex {
    width: 41rem; /* Set the desired width for the form container */
  }
}

@media (max-width: 380px) {
  .container {
    padding: 5rem 1rem 10rem 1rem;
  }
  .form-grid {
    grid-template-columns: 33rem;
  }

  .sch-form {
    overflow-x: scroll;
    max-width: 100%;
  }
}
