.carousal {
  overflow: hidden;
  opacity: 0.8;
}
.carousel--img-div {
  width: 100%;
  height: 60rem;
}

.carousel--img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*scale image while maintaining the aspect ratio*/
  object-position: center;
}

@media (max-width: 881px) {
  .carousel--img-div {
    height: 40rem;
  }
}

@media (max-width: 636px) {
  .carousel--img-div {
    height: 40rem;
  }
}

@media (max-width: 426px) {
  .carousel--img-div {
    height: 28rem;
  }
}

/* .carousal img {
  width: 120%;
  height: 85vh;
} */
