.input {
  flex: 2;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--light-color);
}

.date-picker {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
