.input {
  flex: 2;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--light-color);
}

.date-picker {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* Increase the width of the dropdown */
.react-datepicker__year-dropdown-container,
.react-datepicker__month-dropdown-container,
.react-datepicker__day-dropdown-container {
  width: 200px; /* Adjust the width as needed */
}

/* Increase the height of the dropdown items */
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__day-dropdown {
  max-height: 200px; /* Adjust the max-height as needed */
  overflow-y: auto;
}
