.services {
  padding: 5rem 0;
  background-color: var(--background-section-color);
}

.services h1 {
  margin-bottom: 3rem;
  color: #1e2123;
  font-size: 2.1rem;
  text-align: center;
}

.service-list {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 70%;
  margin: 0 auto;
}

.service-item {
  background-color: white;
  /* border: 2px solid #fbfcfc; */
  border: 2px solid #f1efef;
  padding: 2rem 3rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;
}

.service-item h3 {
  font-size: 1.3rem;
  font-weight: 550;
  color: #1e2123;
}

.service-item p {
  font-size: 1.2rem;
  align-self: self-start;
}

.icon {
  font-size: 3.5rem;
  color: var(--primary-color);
}

@media (max-width: 881px) {
  .service-list {
    padding: 0 1rem;
    gap: 1.5rem;
    width: 95%;
  }

  .service-item {
    padding: 1.5rem 2.5rem;
  }

  .services {
    margin-bottom: 3rem;
  }
}

@media (max-width: 791px) {
  .service-list {
    gap: 1rem;
    width: 100%;
    gap: 1rem;
  }

  .service-item {
    padding: 1rem 2rem;
  }
}

@media (max-width: 426px) {
  .service-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
