.container {
  margin-top: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 530;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.operation {
  text-align: center;
}

.edit {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
}

.delete {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

.sch-table {
  width: 105rem;
}

@media (max-width: 1133px) {
  .container {
    overflow-x: scroll;
    max-width: 100%;
  }
}
