* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

:root {
  --secondary-heading: #1e2123;
  --primary-color: #65b741;
  --light-color: #cdfad5;
  --background-section-color: #f7f8fc;
}

@media (max-width: 791px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 426px) {
  html {
    font-size: 55%;
  }
}
